version: "3.3"

services:
  processar-dados:
    image: "gravar-processar-dados:${CODE_SC_HG}"
    ports:
      - 8088:8088
    environment:
      - spring_datasource_url=jdbc:postgresql://192.168.0.15/gnusprocesso
      - kafka_bootstrap-servers=192.168.0.15:9092
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

